<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="assets/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="home.html">RPS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/login/index.html">Home</a></li>
              <li><a href="/login/lobby.html">Lobby</a></li>
              <li><a href="/login/leaders.html">Leaderboard</a></li>
              <li><a href="help.html">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
<br></br>
<br></br>
<br></br>
<br></br>
<div class="dropdown">
  <button class="btn dropdown-toggle sr-only" type="button" id="dropdownMenu1" data-toggle="dropdown">
    Choose your weapon!
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
    <li role="presentation"><a role="menuitem" tabindex="-1" href="rock">Rock</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="paper">Paper</a></li>
    <li role="presentation"><a role="menuitem" tabindex="-1" href="scissors">Scissors</a></li>

    </div>
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="assets/bootstrap-min.js"></script>
  </body>
</html>
