<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
	body{
    		background-image:url(<%=asset_path "to_the_arena.jpg" %>);
		background-color:#cccccc;
	}


    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to('RPS', {:controller => 'login', :action => 'index'}) %></li>
              <li><%= link_to('Lobby', {:controller => 'game', :action => 'lobby'}) %></li>
              <li><%= link_to('Leaderboard', {:controller => 'login', :action => 'leaders'}) %></li>
              <li><%= link_to('Help', {:controller => 'login', :action => 'help'}) %></li>
	      
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Help</h1>
      <p>RPS Online is an online game that lets you play Rock, Paper, Scissors against people from behind your computer.</p>
        <p>To play:
        <ul>
        <li>Create an account.</li>
        <li>Either start a new game or choose from the available games in the <%= link_to('Lobby', {:controller => 'game', :action => 'lobby'}) %>.</li>
        <li>Choose your move (Rock, Paper, or Scissors).</li>
        <li>See how you did!</li>
        </ul>
      </p>
      <p>
          Remember: Rock beats Scissors, Scissors beats Paper, and Paper beats Rock.
          <br>
          You can also view how you rank up against other users as well as player statistics at the <%= link_to('Leaderboard', {:controller => 'login', :action => 'leaders'}) %>!
      </p>

    </div>
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="assets/bootstrap-min.js"></script>

  </body>
</html>
