<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
	body{
    		background-image:url(<%=asset_path "to_the_arena.jpg" %>);
		background-color:#cccccc;
	}


    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><%= link_to('RPS', {:controller => 'login', :action => 'index'}) %></li>
 	      <li><%= link_to('Lobby', {:controller => 'game', :action => 'lobby'}) %></li>
              <li><%= link_to('Leaderboard', {:controller => 'login', :action => 'leaders'}) %></li>
              <li><%= link_to('Help', {:controller => 'login', :action => 'help'}) %></li>
	      
            </ul>
        
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

      <h1>Rock, Paper, Scissors Online</h1>
      <p>Play Rock, Paper, Scissors against other users across the world!</p>
      <br>

    </div>


    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
  </body>
</html>
