<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="assets/bootstrap.css" rel="stylesheet">
    <style>
	body {
    		background-image:url(<%=asset_path "to_the_arena.jpg" %>);
		background-color:#cccccc;
	}
    </style>
  </head>

  <body>

    <div class="navbar navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="index.html">RPS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="lobby.html">Lobby</a></li>
              <li><a href="leaders.html">Leaderboard</a></li>
              <li><a href="help.html">Help</a></li>
            </ul>
            <button class="btn pull-right" type="button" href="#login" data-toggle="modal">Login</button>
            <button class="btn pull-right" type="button" href="#signup" data-toggle="modal" style="margin-right:2px">Sign up</button>
          </div>
        </div>
      </div>
    </div>

<div class="container">
  <h2 class = h2>Leaderboard</h2>
  <div class="nav-collapse collapse">
  	<ul class="nav">
          <button type="button"><a href="leaders.html">Most Wins</a></button>
          <button type="button"><a href="leadersLL.html">Least Loses</a></button>
          <button type="button"><a href="leadersRatio.html">Best Win/Lose Ratio</a></button>
   	</ul>
  </div>
  <table class = table>
	 <tr>
		<td style = font-weight:bold>User Name</td>
		<td style = font-weight:bold>Wins</td>
	 </tr>
    	<%= @user.each do |u| %>
	 <tr>
		<td><%= u.user_name %></td>
		<td><%= u.wins %></td>
	 </tr>
	 <small hidden><% end %></small>
  </table>
    </div>
    <div id="login" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Login</h3>
  </div>
  <div class="modal-body">
    <div class="panel">
            <form>
      <p>
            <div><input name="username" autocomplete="off" placeholder="Username" style="margin-bottom:2px"></div>
            <div><input name="password" autocomplete="off" placeholder="Password"></div>
      </p>
            </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="submit" id="signin">Sign In</button>
  </div>
</div>
<div id="signup" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
    <h3>Sign up</h3>
  </div>
  <div class="modal-body">
    <div id="describe-panel" class="panel">
      <%= form_for @user_signin do |u| %>
        Username: <%= u.text_field :user_name %><br />
        Password: <%= u.password_field :password %><br />
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" type="submit" id="register">Sign Up</button>
  </div>
      <% end %> 
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="assets/bootstrap-min.js"></script>
  </body>
</html>
