<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Rock, Paper, Scissors Online</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="assets/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="home.html">RPS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="home.html">Home</a></li>
              <li><a href="lobby.html">Lobby</a></li>
              <li><a href="leaders.html">Leaderboard</a></li>
              <li><a href="help.html">Help</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
<br></br>
<br></br>
<br></br>
<br></br>
<h2 class = h2>Leaderboard</h2>
<div class="nav-collapse collapse">
 	<ul class="nav">
  	      <li><a href="leaders.html">Most Wins</a></li>
              <li><a href="leadersLL.html">Least Loses</a></li>
              <li><a href="leadersRatio.html">Best Win/Lose Ratio</a></li>
   	</ul>
</div>
<table class = table>
	<tr>
		<td style = font-weight:bold>User Name</td>
		<td style = font-weight:bold>Loses</td>
	</tr>
    	<%= @user.each do |u| %>
	<tr>
		<td><%= u.user_name %></td>
		<td><%= u.loses %></td>
	</tr>
	<small hidden><% end %></small>
</table>
    </div>
    <script src="http://getbootstrap.com/2.3.2/assets/js/jquery.js"></script>
    <script src="assets/bootstrap-min.js"></script>
  </body>
</html>
